/* 
    Created on : 26.03.2014, 14:51:20
    Author     : Balthazar
*/

.calendar-navi a{
    width: 150px;
}

.calendar th{
   color: #3276b1;
   text-align: center;
   font-weight: bolder;
   text-shadow: 1px 1px 0 #FFF;
}

.calendar td a {
    color: #000;
    font-size: 12px;
    text-decoration: none;    
}

.calendar td{
   background-color: #F5F5F5;
   box-shadow: inset 1px 1px 0 #FFF, inset -1px -1px 0 #888;
   border-color: none;
}

.weekdays{
    font-weight: bold;
    background-color: #F0F0F0!important;
}

.dayTitle{
    font-size: 18px;
    font-weight: bolder;
    padding-left: 5px;
    
    margin-bottom: 2px;
    border-bottom: 1px dotted black; 
}

.calendar-day-title{
    overflow: hidden;
}

.calendarView div{
    font-size: 12px;
    text-align: center;
}

.calendarView .title{
    font-weight: bold;
}

.calendarView .status{
    height: 20px;
    font-weight: bold;
    padding: 0;
    line-height: 20px;
    border-radius: 0;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.9);
}

.panel-title{
    font-weight: bold;
}

div.well{
    margin-bottom: 2px;
}

.row .better-fill{
    padding: 0 1px 0 1px;
}

.row .better-fill:first-child{
    padding: 0 1px 0 15px;
}

.row .better-fill:last-child{
    padding: 0 15px 0 1px;
}

.marge-right{
    margin-right: 3px;
}